<nav class="w-full h-[60px] border-b shadow flex items-center px-4 bg-white sticky top-0 left-0">
    <form class="flex space-x-1 rounded border-2" action="">
        <input name="search" placeholder="Not Available Yet" class="px-2 py-1 outline-none" required disabled/>
        <button
            type="submit"
            disabled
            class="bg-zinc-200 hover:bg-zinc-300 w-full h-full p-1 transition-colors duration-200 ease-in-out"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="11" cy="11" r="8"/><path d="m21 21l-4.3-4.3"/></g></svg>
        </button>
    </form>
    <!-- <h1 class="uppercase font-bold text-2xl">Inventory Management System</h1> -->
</nav>
