<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="/global.css" rel="stylesheet">
        <%- include('partials/meta') %>
    </head>
    <body class="w-full h-auto">
        <div class="w-full h-screen flex pt-20 justify-center">
            <div class="flex flex-col space-y-10">
                <h1 class="uppercase font-bold text-2xl">Inventory Management System</h1>
                <button type="button" onclick="window.location.href='/items'" class="rounded bg-teal-600 hover:bg-teal-700 text-white uppercase font-bold px-4 py-2 transition-colors duration-100 ease-in-out">
                   Go to Inventory
                </button>
            </div>
        </div>
    </body>
</html>
