<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create New Item</title>
        <link href="/global.css" rel="stylesheet">
        <%- include('../partials/meta') %>
    </head>
    <body class="w-full h-screen flex bg-zinc-100 overflow-hidden ">
        <%- include('../partials/menubar') %>
        <div class="w-full overflow-y-auto">
            <%- include('../partials/navbar') %>
            <div class="flex flex-col space-y-4 bg-white rounded p-4 m-4">
                <form action="/items/new" method="POST" class="w-[500px] flex flex-col space-y-4 ">
                    <h1 class="font-bold text-xl text-teal-600 uppercase">Create New Item</h1>
                    <div class="flex flex-col space-y-2">
                        <label for="name" class="uppercase text-xs font-bold">Name</label>
                        <input id="name" name="name" type="text" placeholder="Name..." class="px-2 py-1 outline-none border rounded shadow-sm" required/>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="category" class="uppercase text-xs font-bold">Category</label>
                        <input id="category" name="category" type="text" placeholder="Category..." class="px-2 py-1 outline-none border rounded shadow-sm" required/>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="quantity" class="uppercase text-xs font-bold">Quantity</label>
                        <input id="quantity" name="quantity" type="text" placeholder="Quantity..." class="px-2 py-1 outline-none border rounded shadow-sm" required/>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="price" class="uppercase text-xs font-bold">Price</label>
                        <input id="price" name="price" type="text" placeholder="Price..." class="px-2 py-1 outline-none border rounded shadow-sm" required/>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <label for="description" class="uppercase text-xs font-bold">Description</label>
                        <textarea id="description" name="description" placeholder="Description..." class="px-2 py-1 outline-none border rounded shadow-sm" required></textarea>
                    </div>
                    <button type="submit" class="px-5 py-3 text-xs font-bold uppercase bg-green-500 rounded text-white">
                        Create
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>
